// Colors
$black: #000;
$white: #fff;
$light-grey: #f3f3f3;
$dark-brown: #823f12;
$brown: #b07d3e;
$pastel-yellow: #fcd985;
$pastel-blue: #9bb2c0;
$pastel-green: #dde5d6;

// Fonts
$font-family-base: 'Questrial', sans-serif;
$font-family: 'DM Serif Text', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-style-italic: italic;